.logo
  = link_to(root_path) do
    =image_tag('logo.png', width: '100%', height: '100%')

.box
  %header
    %h1 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .devise-container
      .row
        .form-group
          = f.label :email
          %br
          = f.email_field :email, autofocus: true, class: "form-control", placeholder: 'example@web.com'
      .row
        .form-group
          = f.label :password
          %br
          = f.password_field :password, autocomplete: "off", class: "form-control"
      .row
        .form-group.actions
          - if devise_mapping.rememberable?
            .field
              = f.label :remember_me
              %br
              = f.check_box :remember_me
              %br
    %br
    = f.submit "Log in", class: "btn btn-lg btn-primary btn-block"
    .btn-group
      = render "devise/shared/links"